<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/pixelya-trial" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.cdnfonts.com/css/pixelya-trial');
    </style>
</head>

<body>
    <header>
        <div class="logo">Pocket Games</div>
        <!-- <nav>
            <ul>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a href="/user"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav> -->
        <!-- <div class="appLogo">
            <img src="assets/images/pgLogo.png" alt="Profile" class="profile-pic" />
        </div> -->
        <div class="navBarBtn">
            <p>About</p>
            <p>Contact</p>
            <p><i class="fa-solid fa-user"></i></p>
        </div>
    </header>
</body>

</html>