header {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 50px; */
    background: #28282B;
    color: white;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 2px 6px silver; */
  }
  
  .logo {
    padding: 0px 20px;
    font-size: 2em;
    font-weight: bold;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  nav{
    padding: 0px 20px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .user-btn {
    background: #008CBA;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .user-btn:hover {
    background: #005f7f;
  }