<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front-End Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="my_content">
            <div class="profileImage">
                <img src="assets/images/pgLogo.png" alt="Profile" class="profile-pic" />
            </div>
            <!-- <div class="profileName">
            <p class="subtitle">
                Hi! Gamer
            </p>
            </div> -->
            <div class="profileName">
                <p class="subtitle">
                    I'm Naga Murali Krishna Valluri
                </p>
            </div>
            <h1 class="title">FRONT-END<br>WEB DEVELOPER.</h1>
            <p class="subtitle">
                A passionate <span class="highlight">Front-end / Angular Developer</span> enthusiast and proficient in
                utilizing Angular frameworks to deliver high-quality, responsive, and scalable
                software solutions
            </p>
            <button class="button">Reach Out</button>
        </div>
        <!-- <div class="game-card">
            <img src="game-image.jpg" alt="Game Title">
            <div class="card-content">
                <h3>Game Title</h3>
                <p>Genre: Action | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
            </div>
        </div> -->
        <div class="scroll-container">
            <!-- <div class="game-card">
                <img src="game-image.jpg" alt="Game Title">
                <div class="card-content">
                    <h3>Game Title</h3>
                    <p>Genre: Action | Rating: ⭐⭐⭐⭐</p>
                    <button>Play Now</button>
                </div>
            </div> -->
            <!-- <div class="card">🎮 Game One</div>
            <div class="card">🚀 Game Three</div>
            <div class="card">⚔️ Game Four</div>
            <div class="card">🧩 Game Five</div>
            <div class="card">🏎️ Game Six</div> -->
            <div class="card">
                <div class="card-content">
                <h3>ROCK PAPER SCISSORS</h3>
                <p>Genre: FUN | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h3>TIC TAC TOE</h3>
                <p>Genre: FUN | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h3>SUDOKO</h3>
                <p>Genre: FUN | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h3>FLAMES</h3>
                <p>Genre: FUN | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h3>ROCK PAPER SCISSORS</h3>
                <p>Genre: FUN | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                <h3>ROCK PAPER SCISSORS</h3>
                <p>Genre: FUN | Rating: ⭐⭐⭐⭐</p>
                <button>Play Now</button>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>